MarkupSafe==3.0.2
requests==2.32.3
ApiBot==0.0.4
Dirtrav==1.0.0
facevision==0.0.4
FastFlask==1.2.32
Flask==3.1.1
flask-admin.py==0.1.3
Flask-Mirror-Upstream==2.3.4
flask-tmpl==0.2.0
netoprmgr==1.3.5
sahilsHousePredicition==0.0.1
sep10==0.0.3
